{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 100, 2, {
      "ignorePattern": "\\s*<",
    }],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
  },
}
